In [4]:
import pandas as pd
import numpy as np

In [5]:
# Q1. Pandas version
## What's the version of Pandas that you installed?
pd.__version__

'2.3.1'

In [6]:
df = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv")
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [7]:
# Q2. Records count
## How many records are in the dataset?
num_records = len(df)
num_records

9704

In [8]:
# Q3. Fuel types
## How many fuel types are presented in the dataset?
fuel_types = df['fuel_type'].nunique()
fuel_types

2

In [9]:
# Q4. Missing values
## How many columns in the dataset have missing values?
missing_values = df.isna().sum()
missing_values

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [10]:
# Q5. Max fuel efficiency
## What's the maximum fuel efficiency of cars from Asia?
asia_max_fuel_efficiency = round(df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max(), 2)
asia_max_fuel_efficiency

np.float64(23.76)

In [11]:
# Q6. Median value of horsepower

## 1. Find the median value of horsepower column in the dataset.
horsepower_median = np.median(df['horsepower'])
horsepower_median

np.float64(nan)

In [12]:
## 2. Next, calculate the most frequent value of the same horsepower column.
horsepower_frequent_value = df['horsepower'].mode()
horsepower_frequent_value

0    152.0
Name: horsepower, dtype: float64

In [14]:
## 3. Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step.
df['horsepower'] = df['horsepower'].fillna(152.0)

In [15]:
## 4. Now, calculate the median value of horsepower once again.
horsepower_median2 = np.median(df['horsepower'])
horsepower_median2

np.float64(152.0)

In [20]:
# Q7. Sum of weights
## 1. Select all the cars from Asia
asia_cars = df.loc[df['origin'] == 'Asia']
asia_cars

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
8,250,1.0,174.0,2714.219310,10.3,2016,Asia,Diesel,Front-wheel drive,-1.0,16.823554
12,320,5.0,145.0,2783.868974,15.1,2010,Asia,Diesel,All-wheel drive,1.0,16.175820
14,200,6.0,160.0,3582.687368,14.9,2007,Asia,Diesel,All-wheel drive,0.0,11.871091
20,150,3.0,197.0,2231.808142,18.7,2011,Asia,Gasoline,Front-wheel drive,1.0,18.889083
21,160,4.0,133.0,2659.431451,NaN,2016,Asia,Gasoline,Front-wheel drive,-1.0,16.077730
...,...,...,...,...,...,...,...,...,...,...,...
9688,260,4.0,152.0,3948.404625,15.5,2018,Asia,Diesel,All-wheel drive,-1.0,11.054830
9692,180,3.0,188.0,3680.341381,18.0,2016,Asia,Gasoline,Front-wheel drive,1.0,11.711653
9693,280,2.0,148.0,2545.070139,15.6,2012,Asia,Diesel,All-wheel drive,0.0,17.202782
9698,180,1.0,131.0,3107.427820,13.2,2005,Asia,Gasoline,Front-wheel drive,-2.0,13.933716
9703,270,3.0,140.0,2908.043477,14.7,2005,Asia,Diesel,All-wheel drive,-1.0,14.884467

In [22]:
## 2. Select only columns vehicle_weight and model_year
weight_and_year = asia_cars[['vehicle_weight', 'model_year']]
weight_and_year

      vehicle_weight  model_year
8        2714.219310        2016
12       2783.868974        2010
14       3582.687368        2007
20       2231.808142        2011
21       2659.431451        2016
...              ...         ...
9688     3948.404625        2018
9692     3680.341381        2016
9693     2545.070139        2012
9698     3107.427820        2005
9703     2908.043477        2005

[3247 rows x 2 columns]

In [24]:
## 3. Select the first 7 values
vehicle_wny = weight_and_year.head(7)
vehicle_wny

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

In [30]:
## 4. Get the underlying NumPy array. Let's call it X.
X = vehicle_wny.to_numpy()
X

array([[2714.21930965, 2016.        ],
       [2783.86897424, 2010.        ],
       [3582.68736772, 2007.        ],
       [2231.8081416 , 2011.        ],
       [2659.43145076, 2016.        ],
       [2844.22753389, 2014.        ],
       [3761.99403819, 2019.        ]])

In [37]:
## 5. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
x_transpose = X.T
x_transpose

XTX = np.dot(x_transpose, X)
XTX

array([[62248334.33150762, 41431216.5073268 ],
       [41431216.5073268 , 28373339.        ]])

In [40]:
## 6. Invert XTX
invert_xtx = np.linalg.inv(XTX)
invert_xtx

array([[ 5.71497081e-07, -8.34509443e-07],
       [-8.34509443e-07,  1.25380877e-06]])

In [41]:
## 7. Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
y

array([1100, 1300,  800,  900, 1000, 1100, 1200])

In [51]:
## 8. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
multiply = np.dot(invert_xtx, x_transpose)

w = np.dot(multiply, y)
w

array([0.01386421, 0.5049067 ])

In [53]:
## 9. What's the sum of all the elements of the result?
elements_sum = round(np.sum(w), 2)
elements_sum

np.float64(0.52)